.offerlst {
	background-color: white !important;
	padding: 0px;
	border-radius: 8px;
	min-height: 90px;
	margin-bottom: 12px;
	font-size: 15px;
}

i, .dl_button {
    display: none;
}

.each_p_elm {
    margin: 3px 0;
    padding: 0px;
    white-space: nowrap;
}


.link_a, .link_a:link {
    width: 100%;
    background: #0c4479;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 9px 12px;
    text-align: center;
    vertical-align: middle;
    font-weight: normal;
    text-decoration: none;
    text-shadow: none;
    box-shadow: none;
}

.link_a:hover {
    background: #207ce5;
}
